<!DOCTYPE html>
<html>
  <head>
    <title>AllInOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style type="text/css">
      .profile-picture{
        width: 50px;
      }
      .list-group a{
        text-decoration: none;
      }
    </style>
  </head>

  <body class="container p-3">
    <%= render 'shared/navbar', title: 'Chat App', logout_btn: true%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <script type="text/javascript">
      function playNotificationSound() {
        const audio = new Audio("<%= asset_path('Podda.mp3')%>");
        $(audio).on('error', function(event) {
          console.log('Audio playback failed:', event);
        });
        audio.play();
      }
    </script>
  </body>
</html>
